{{# if pt.isReadOnly.value }}
<span class="EnumeratedValue">{{pv.userVisibleName.asString}}</span> (read-only)
{{/ if }}
{{# unless pt.isReadOnly.value }}
{{#   mesh:optionalPropertyEditWrapper shellvar=shellvar shellpropvar=shellpropvar neighborshellvar=neighborshellvar pt=pt pv=pv }}
<input type="hidden" id="shell.{{shellvar}}" name="shell.{{shellvar}}" value="{{mesh:meshObjectId meshObject=meshObject stringRepresentation="HttpShell" }}">
{{#   if neighborshellvar }}
<input type="hidden" id="shell.{{neighborshellvar}}" name="shell.{{neighborshellvar}}" value="{{mesh:meshObjectId meshObject=neighbor stringRepresentation="HttpShell" }}">
{{/   if }}
<input type="hidden" id="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertytype.{{shellpropvar}}"
       name="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertytype.{{shellpropvar}}"
       value="{{ mesh:meshTypeId meshType=pt stringRepresentation="HttpShell" }}">
<select class="EnumeratedValue edit" id="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}"
        name="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}">
{{#     each pt.dataType.domain}}
 <option value="{{this.value}}"{{# if (eq this.value pv.value ) }} selected{{/ if }}>{{this.userVisibleName.asString}}</option>
{{/     each}}
</select>
{{/   mesh:optionalPropertyEditWrapper }}
{{/ unless}}
