<span class="TimePeriodValue">
 <span class="year">{{pv.year}}&nbsp;years</span>,
 <span class="month">{{pv.month}}&nbsp;months</span>,
 <span class="day">{{pv.day}}&nbsp;days</span>,
 <span class="hour">{{pv.hour}}&nbsp;hours</span>,
 <span class="minute">{{pv.minute}}&nbsp;minutes</span>,
 <span class="second">{{util:sprintf "%.3f" pv.second}}&nbsp;seconds</span>
</span>