div.net-ubos-underbars-AttributeEditWrapperHelper {
}
div.net-ubos-underbars-AttributeEditWrapperHelper-value {
    display: inline;
}
div.net-ubos-underbars-AttributeEditWrapperHelper-null {
    display: none;
}
div.net-ubos-underbars-AttributeEditWrapperHelper-create {
    display: none;
}
div.net-ubos-underbars-AttributeEditWrapperHelper-remove {
    display: none;
}

