div.net-ubos-underbars-OptionalPropertyEditWrapperHelper {
}
div.net-ubos-underbars-OptionalPropertyEditWrapperHelper-value {
    display: inline;
}
div.net-ubos-underbars-OptionalPropertyEditWrapperHelper-null {
    display: none;
}
div.net-ubos-underbars-OptionalPropertyEditWrapperHelper-create {
    display: none;
}
div.net-ubos-underbars-OptionalPropertyEditWrapperHelper-remove {
    display: none;
}
