div#net-ubos-underbars-helpers-html-OverlayHelperCanvas {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.9;
    visibility: hidden;
    display: none;
    background: #c0c0c0;
}
div.net-ubos-underbars-helpers-html-OverlayContentHelper {
    z-index: 101;
    position: fixed;
    top: 100px;
    left: 50%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    width: 800px;
    margin-left: -300px;
    padding: 25px;
    display: none;
    visibility: hidden;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    background: #fff;
}
div.net-ubos-underbars-helpers-html-OverlayContentHelper h2 {
    margin-top: 0;
    text-align: left;
}
div.net-ubos-underbars-helpers-html-OverlayContentHelper input {
    font-size: inherit;
    border: 1px solid #808080;
    border-radius: 5px;
}

div.net-ubos-underbars-helpers-html-OverlayContentHelper table {
    width: 100%;
}
div.net-ubos-underbars-helpers-html-OverlayContentHelper div.overlay-content tr:nth-child(odd) {
    background: #f8f8f8;
}
div.net-ubos-underbars-helpers-html-OverlayContentHelper div.overlay-content th,
div.net-ubos-underbars-helpers-html-OverlayContentHelper div.overlay-content td {
    padding: 5px;
    vertical-align: top;
}
div.net-ubos-underbars-helpers-html-OverlayContentHelper div.overlay-content td.label {
    width: 25%;
}

div.net-ubos-underbars-helpers-html-OverlayContentHelper div.overlay-buttons {
    border-top: 1px solid #808080;
    margin-top: 1ex;
}

div.net-ubos-underbars-helpers-html-OverlayContentHelper div.overlay-buttons td {
    width: 50%;
    text-align: center;
    padding: 1ex 0;
}

div.net-ubos-underbars-helpers-html-OverlayContentHelper input,
div.net-ubos-underbars-helpers-html-OverlayContentHelper select {
    width: 100%;
}
