div.net-ubos-underbars-helpers-util-ShowInvocationHelper td,
div.net-ubos-underbars-helpers-util-ShowInvocationHelper th {
    border: 1px solid blue;
    vertical-align: top;
    padding: 0.5ex;
}
div.net-ubos-underbars-helpers-util-ShowInvocationHelper pre {
    margin: 5px 0;
}
