div.net-ubos-underbars-helpers-vl-ViewletHelper > ul {
    margin: 0;
    padding: 0 0 0 1ex;
}

div.net-ubos-underbars-helpers-vl-ViewletHelper > ul > li {
    margin: 0;
    padding: 0;
}

/*
div.net-ubos-underbars-helpers-vl-ViewletChangeStateHelper {
    float: right;
    clear: right;
    padding: 5px;
    margin: 0 0 5px 5px;
}
div.net-ubos-underbars-helpers-vl-ViewletChangeStateHelper ul {
    margin: 0;
    padding: 0;
}
div.net-ubos-underbars-helpers-vl-ViewletChangeStateHelper li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}
div.net-ubos-underbars-helpers-vl-ViewletAlternativesHelper {
    float: right;
    margin: 0 0 5px 5px;
}

div.net-ubos-underbars-helpers-vl-ViewletAlternativesHelper > ul {
    margin: 0;
    padding: 0 0 0 2ex;
}

div.net-ubos-underbars-helpers-vl-ViewletAlternativesHelper > ul > li {
    margin: 0;
    padding: 0;
}
div.net-ubos-underbars-helpers-vl-ViewletAlternativesHelper > ul > li.selected {
    font-weight: bold;
}
*/
div.popup {
    padding: 5px;
    border-style: solid;
    border-width: 0px;
}
div.popup.expanded {
    border-width: 1px;
    background: var( --element-background-color );
    border-color: var( --element-border-color );
}
div.popup > div.label {
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-align: center;
    display: block;
    visibility: visible;
}
div.popup.expanded > div.label {
    font-weight: bold;
    padding: 0 0 4px 0;
}
div.popup > * {
    display: none;
    visibility: hidden;
}
div.popup.expanded > * {
    display: block;
    visibility: visible;
}
