svg.net-ubos-underbars-helpers-meshbaseindex-WordCloudHelper text.w5 {
    fill: red;
    font-size: 200%;
}
svg.net-ubos-underbars-helpers-meshbaseindex-WordCloudHelper text.w3 {
    fill: green;
    font-size: 150%;
}
svg.net-ubos-underbars-helpers-meshbaseindex-WordCloudHelper text.w1 {
    fill: black;
    font-size: 100%;
}
