{{# if pt.isReadOnly.value }}
<span class="StringValue">{{pv.asString}}</span> (read-only)
{{  else }}
{{#   mesh:optionalPropertyEditWrapper shellvar=shellvar shellpropvar=shellpropvar neighborshellvar=neighborshellvar pt=pt pv=pv }}
<input type="hidden" id="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertytype.{{shellpropvar}}"
       name="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertytype.{{shellpropvar}}"
       value="{{ mesh:meshTypeId meshType=pt stringRepresentation="HttpShell" }}">
<input class="StringValue edit" type="text"
       id="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}"
       name="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}"
       value="{{#if pv}}{{util:escapeQuotes pv.asString}}{{/if}}">
{{/   mesh:optionalPropertyEditWrapper }}
{{/ if}}
