ul#MeshAccountBar {
    margin: 0;
    padding: 6px 0;
    float: right;
    font-size: var( --font-size-small );
}
ul#MeshAccountBar > li {
    float: left;
    padding: 0 2px 0 16px;
    margin: 0;
    list-style-type: none;
}
ul#MeshAccountBar > li ul {
    display: none;
    z-index: 10;
    border: 1px solid #a0a0a0;
    background: #fff;
    position: absolute;
    margin: 0;
    padding: 0 5px 2px 8px;
}
ul#MeshAccountBar > li:hover ul {
    display: block;
}
ul#MeshAccountBar > li ul li {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

ul#MeshAccountBar li.account-active {
    font-weight: bold;
    list-style-type: disc;
}

div#MeshAccountBar-dialog-overlay {
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    visibility: hidden;
    display: none;

    background: #808080; /* Old browsers */
    background: -moz-linear-gradient(top, #808080 200px, #d0d0d0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, top, bottom, color-stop(200px,#808080), color-stop(100%,#d0d0d0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #808080 200px,#d0d0d0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #808080 200px,#d0d0d0 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #808080 200px,#d0d0d0 100%); /* IE10+ */
    background: linear-gradient(top, #808080 200px,#d0d0d0 100%); /* W3C */
}
div#MeshAccountBar-dialog {
    z-index: 999;
    position: fixed;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    top: 50px;
    left: 50%;
    visibility: hidden;
    display: none;
    font-size: 14px;
    font-family: Arial, Verdana, Helvetica, Sans;
    line-height: 15px;
    color: #000;
    padding: 2px;
    background: #c0c0c0;
    box-shadow: 8px 8px 6px rgba(128,128,128,.5);
}
div#MeshAccountBar-dialog * {
    font-family: inherit;
    font-size: inherit;
}

div#MeshAccountBar > div {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    opacity: 1.0;
    filter: alpha(opacity=100);
    color: black;
    border-width: 2px;
    border-style: solid;
    margin: 0;
}
div#MeshAccountBar-dialog td {
    padding: 0;
}
div#MeshAccountBar-dialog table {
    width: 100%;
    background: transparent;
    border-collapse: collapse;
}
div#MeshAccountBar-dialog a img {
    border: 0;
}

div#MeshAccountBar-dialog div.section {
    padding: 10px 0;
}
div#MeshAccountBar-dialog div.title {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D0D0D0;
    height: 32px;
    background: #FFF6FA;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}
div#MeshAccountBar-dialog div.title h1 {
    font-weight: bold;
    float: left;
    margin: 8px;
}
div#MeshAccountBar-dialog div.title a {
    float: right;
    margin: 8px;
}
div#MeshAccountBar-dialog div.error,
div#MeshAccountBar-dialog div.message {
    margin: 0;
    padding: 0;
    display: none;
}
div#MeshAccountBar-dialog div.error {
    color: #a00000;
}

div#MeshAccountBar-dialog div.submit {
    border-top: 1px dotted #d0d0d0;
    text-align: center;
}
div#MeshAccountBar-dialog div.submit td.busy {
    width: 150px;
    text-align: right;
    padding-top: 5px;
}

div#MeshAccountBar-dialog input.lid-submit {
    border-width: 3px;
    border-color: #b0b0b0 #808080 #808080 #b0b0b0;
    padding: 3px 10px;
    background: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 90px;
    margin: 0 auto;
}
div#MeshAccountBar-dialog div.section > p {
    margin: 5px 20px;
    text-align: left;
}

div#MeshAccountBar-dialog li {
    display: inline;
    margin:  auto 0;
}

div#MeshAccountBar-dialog {
    width: 480px;
    margin-left: -240px;
}
div#MeshAccountBar-dialog > div {
    background: #fff8fb;
    border-color: #cc3399;
    background-image: -webkit-gradient(linear,left bottom,right top,color-stop(0, #FFF4F9),color-stop(.5, #FFFDFE));
    background-image: -moz-linear-gradient(left bottom,#FFF4F9 0%,#FFFDFE 50%);
}
div#MeshAccountBar-dialog th {
    font-weight: normal;
    padding: 0px 10px 0px 20px;
    text-align: center;
    vertical-align: top;
}
div#MeshAccountBar-dialog th:first-child {
    width: 135px;
}
div#MeshAccountBar-dialog td {
    text-align: left;
    vertical-align: top;
}
div#MeshAccountBar-dialog th,
div#MeshAccountBar-dialog td {
    line-height: 16px;
}
div#MeshAccountBar-dialog th p,
div#MeshAccountBar-dialog td p {
    padding: 4px 0;
    margin: 3px 0;
}

div#MeshAccountBar-dialog input {
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #ffffff;
    padding: 4px;
    margin: 3px 0;
    width: 308px;
    box-shadow: 1px 1px 1px rgba(128,128,128,.2);
}

div#MeshAccountBar-dialog p.message {
    margin: 10px 20px 10px 45px;
}

div#MeshAccountBar-dialog div.message {
    display: none;
}
div#MeshAccountBar-dialog div.fields {
    padding: 10px 0;
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
}
div#MeshAccountBar-dialog ul.hints {
    height: 20px;
    margin: 0 0 0 132px;
    padding: 0;
    font-size: 12px;
}

div#MeshAccountBar-dialog .mode {
    display: none;
}
div#MeshAccountBar-dialog .block {
    display: block;
}
div#MeshAccountBar-dialog .inline {
    display: inline;
}
div#MeshAccountBar-dialog-error-section th {
    text-align: right;
}
