{{# if pt.isReadOnly.value }}
<span class="BooleanValue">{{#if pv.value}}True{{/if}}{{#unless pv.value}}False{{/unless}}</span> (read-only)
{{/ if }}
{{# unless pt.isReadOnly.value }}
{{#   mesh:optionalPropertyEditWrapper shellvar=shellvar shellpropvar=shellpropvar neighborshellvar=neighborshellvar pt=pt pv=pv }}
<input type="hidden" id="shell.{{shellvar}}" name="shell.{{shellvar}}" value="{{mesh:meshObjectId meshObject=meshObject stringRepresentation="HttpShell" }}">
{{#   if neighborshellvar }}
<input type="hidden" id="shell.{{neighborshellvar}}" name="shell.{{neighborshellvar}}" value="{{mesh:meshObjectId meshObject=neighbor stringRepresentation="HttpShell" }}">
{{/   if }}
<input type="hidden" id="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertytype.{{shellpropvar}}"
       name="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertytype.{{shellpropvar}}"
       value="{{ mesh:meshTypeId meshType=pt stringRepresentation="HttpShell" }}">
<span class="BooleanValue edit">
 <input type="radio" id="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}-true"
        name="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}" value="true"{{#if pv.value}} checked="checked"{{/if}}>True
 <input type="radio" id="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}-false"
        name="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}" value="false"{{#unless pv.value}} checked="checked"{{/unless}}>False
</span>
{{/   mesh:optionalPropertyEditWrapper }}
{{/ unless}}
