{{# if pt.isReadOnly.value }}
<span class="TimePeriodValue">
 <span class="year">{{pv.year}}&nbsp;years</span>,
 <span class="month">{{pv.month}}&nbsp;months</span>,
 <span class="day">{{pv.day}}&nbsp;days</span>,
 <span class="hour">{{pv.hour}}&nbsp;hours</span>,
 <span class="minute">{{pv.minute}}&nbsp;minutes</span>,
 <span class="second">{{util:sprintf "%.3f" pv.second}}&nbsp;seconds</span>
</span> (read-only)
{{/ if }}
{{# unless pt.isReadOnly.value }}
{{#   mesh:optionalPropertyEditWrapper shellvar=shellvar shellpropvar=shellpropvar neighborshellvar=neighborshellvar pt=pt pv=pv }}
<input type="hidden" id="shell.{{shellvar}}" name="shell.{{shellvar}}" value="{{mesh:meshObjectId meshObject=meshObject stringRepresentation="HttpShell" }}">
{{#   if neighborshellvar }}
<input type="hidden" id="shell.{{neighborshellvar}}" name="shell.{{neighborshellvar}}" value="{{mesh:meshObjectId meshObject=neighbor stringRepresentation="HttpShell" }}">
{{/   if }}
<input type="hidden" id="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertytype.{{shellpropvar}}"
       name="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertytype.{{shellpropvar}}"
       value="{{ mesh:meshTypeId meshType=pt stringRepresentation="HttpShell" }}">
<input class="TimePeriodValue edit" type="text" autocomplete="off" autocapitalize="off"
       id="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}"
       name="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}"
       value="{{pv.userVisibleString}}">
{{/   mesh:optionalPropertyEditWrapper }}
{{/ unless}}
