{{# if pt.isReadOnly.value }}
{{#   if pv.hasTextNotHtmlMimeType }}
<span class="BlobValue text">{{ html:escapeHtml pv.asString }}</span> (read-only)
{{/   if }}
{{#   if pv.hasTextHtmlMimeType }}
<span class="BlobValue html">{{ pv.asString }}</span> (read-only)
{{/   if }}
{{#   unless pv.hasTextMimeType }}
<span class="BlobValue binary">Data (MIME type: {{ pv.mimeType }})</span> (read-only)
{{/   unless}}
{{/ if }}
{{# unless pt.isReadOnly.value }}
{{#   mesh:optionalPropertyEditWrapper shellvar=shellvar shellpropvar=shellpropvar neighborshellvar=neighborshellvar pt=pt pv=pv }}
<input type="hidden" id="shell.{{shellvar}}" name="shell.{{shellvar}}" value="{{mesh:meshObjectId meshObject=meshObject stringRepresentation="HttpShell" }}">
{{#   if neighborshellvar }}
<input type="hidden" id="shell.{{neighborshellvar}}" name="shell.{{neighborshellvar}}" value="{{mesh:meshObjectId meshObject=neighbor stringRepresentation="HttpShell" }}">
{{/   if }}
<input type="hidden" id="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertytype.{{shellpropvar}}"
       name="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertytype.{{shellpropvar}}"
       value="{{ mesh:meshTypeId meshType=pt stringRepresentation="HttpShell" }}">
<div class="BlobValue">
 <select id="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}.mime"
         name="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}.mime"
         onchange="javascript:net_ubos_underbars_helpers_mesh_PropertyHelper_mimeChanged( 'shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}' )">
{{#     each pt.dataType.userSelectableMimeTypes }}
  <option value="{{ this.mimeType }}"{{# if (eq this.mimeType pv.mimeType ) }} selected{{/ if }}>{{ this.userVisibleName }}</option>
{{/     each}}
 </select>

{{#     if pv.hasTextMimeType }}
 <textarea id="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}.text"
           name="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}">{{ pv.asString }}</textarea>
{{      else }}
{{#       if pt.dataType.allowsTextMimeType }}
 <textarea id="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}.text"
           name="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}"></textarea>
{{/       if}}
{{/     if }}
{{#     if showUpload }}
 <input id="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}.upload"
        name="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}.upload" type="file" class="file">
{{/     if }}
</div>
<script>
 net_ubos_underbars_helpers_mesh_PropertyHelper_mimeSet( 'shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.propertyvalue.{{shellpropvar}}' );
</script>
{{/   mesh:optionalPropertyEditWrapper }}
{{/ unless}}
