{{# if pv.hasTextNotHtmlMimeType }}
<span class="BlobValue text">{{ html:escapeHtml pv.asString }}</span>
{{/ if }}
{{# if pv.hasTextHtmlMimeType }}
<span class="BlobValue html">{{ pv.asString }}</span>
{{/ if }}
{{# unless pv.hasTextMimeType }}
<span class="BlobValue binary">Data (MIME type: {{ pv.mimeType }})</span>
{{/ unless}}
