{{# mesh:attributeEditWrapper shellvar=shellvar shellpropvar=shellpropvar neighborshellvar=neighborshellvar an=an av=av }}
<input type="hidden" id="shell.{{shellvar}}" name="shell.{{shellvar}}" value="{{mesh:meshObjectId meshObject=meshObject stringRepresentation="HttpShell" }}">
{{#   if neighborshellvar }}
<input type="hidden" id="shell.{{neighborshellvar}}" name="shell.{{neighborshellvar}}" value="{{mesh:meshObjectId meshObject=neighbor stringRepresentation="HttpShell" }}">
{{/   if }}
<input type="hidden"
       id="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.attributename.{{shellpropvar}}"
       name="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.attributename.{{shellpropvar}}"
       value="{{ an }}">
<input class="Attribute edit" type="text"
       id="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.attributevalue.{{shellpropvar}}"
       name="shell.{{shellvar}}{{# if neighborshellvar }}.to.{{ neighborshellvar }}{{/ if }}.attributevalue.{{shellpropvar}}"
       value="{{#if av}}{{util:escapeQuotes av}}{{/if}}">
{{/ mesh:attributeEditWrapper }}
