{{  html:link rel="stylesheet" href="/s/net.ubos.underbars/PropertyHelper.css" }}
{{  html:script src="/s/net.ubos.underbars/PropertyHelper.js" }}

<span class="TimeStampValue" data-timestampvalue="{{ pvAsCal.timeInMillis }}">{{util:sprintf "%04d/%02d/%02d %02d:%02d:%02.0f %s"
                               pvAsCal.year pvAsCal.month pvAsCal.day pvAsCal.hour pvAsCal.minute pvAsCal.second pvAsCal.timezone }}</span>
